<h1>Debug information</h1>
<div class="result-list">
<table class="debug_info">
<tr>
	<th>variable name</th>
	<th>value</th>
</tr>
<tbody>
</tr>
    <td>FILEBROWSER_DIRECTORY</td>
	<td>{{ settings_var.DIRECTORY }}</td>
</tr>
</tr>
    <td>FILEBROWSER_MEDIA_ROOT</td>
	<td>{{ settings_var.MEDIA_ROOT }}</td>
</tr>
</tr>
    <td>FILEBROWSER_MEDIA_URL</td>
	<td>{{ settings_var.MEDIA_URL }}</td>
</tr>
</tr>
    <td>FILEBROWSER_PATH_FILEBROWSER_MEDIA</td>
	<td>{{ settings_var.PATH_FILEBROWSER_MEDIA }}</td>
</tr>
</tr>
    <td>FILEBROWSER_URL_FILEBROWSER_MEDIA</td>
	<td>{{ settings_var.URL_FILEBROWSER_MEDIA }}</td>
</tr>
</tbody>
</table>
</div>